name: cross-stitch-dueling-bot
services:
  postgres:
    container_name: cross-stitch-dueling-bot-database
    image: postgres:17.5
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cross-stitch-dueling-bot
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  gcloud-tasks-emulator:
    container_name: cross-stitch-dueling-bot-tasks
    image: ghcr.io/aertje/cloud-tasks-emulator:1.2.0
    restart: unless-stopped
    command:
      [
        "-host",
        "0.0.0.0",
        "-port",
        "8123",
        "-openid-issuer",
        "http://localhost:8980",
        "-queue",
        "projects/cross-stitch-dueling-bot/locations/local/queues/duel-request-cancellation",
        "-queue",
        "projects/cross-stitch-dueling-bot/locations/local/queues/duel-completion",
        "-queue",
        "projects/cross-stitch-dueling-bot/locations/local/queues/duel-report-reminder",
      ]
    ports:
      - 8123:8123
      - 8980:8980

  gcloud-storage-emulator:
    container_name: cross-stitch-dueling-bot-storage
    image: fsouza/fake-gcs-server:1.52.2
    restart: unless-stopped
    command: ["-scheme", "http", "-backend", "memory"]
    ports:
      - 4443:4443

volumes:
  postgres_data:
