name: CI
on:
  pull_request:
    branches: [main]
    types: [opened, reopened, edited, synchronize]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-node
      - name: Check types
        run: pnpm check-types
      - name: Check formatting
        run: pnpm fmt
      - name: Check linting
        run: pnpm lint
